.btn {
    margin: 0.5em 0;
}

#logoutBtn {
    margin: 0;
}

a {
    color: cornflowerblue;
}

a:hover {
    color: darkblue;
    text-decoration: none;
}

.loginForm {
    max-width: 40%;
    margin: 0 auto;
}

.notification {
    min-height: 2em;
}

.success {
    font-size: 1.2em;
    padding: 1em;
    color: green;
    background-color: mintcream;
    margin: 0;
}

.error {
    padding: 1em;
    font-size: 1.2em;
    color: red;
    background-color: lavenderblush;
    margin: 0;
}